/* Fix logo on small screens */
@media (max-width: 650px) {
  #logo {
    width: auto;
    height: 100px;     /* clean readable size */
    object-fit: contain;
  }

  .logosection {
    height: auto;
  }
}
